@charset "utf-8";
body {
  background: #f0f8ff;
}
/* * {
  box-sizing: border-box;
} */
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.header {
  background: #e6e6fa;
}
.main {
  background: #fa8072;
  width: 60%;
  float: left;
}
.side {
  background: #FEF8DF;
  width: 40%;
  float: right
}
.footer {
  background: #add8e6;
  clear: both;
}
.header, .footer {
  height: 90px;
  line-height: 90px;
  padding: 50px 0;
}
.main, .side {
  height: 600px;
  line-height: 600px;
}