@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
header {
  background: #E6E6FA;
}
.left {
  background: #FFF8DC;
  float: left;
}
.right {
  background: #FA8072;
  float: right;
}
main {
  display: block;
  height: 190px;
}
footer {
  background: #ADD8E6;
}
header, footer {
  height: 80px;
  line-height: 80px;
  display: block;
}
.left, .right {
  height: 190px;
  line-height: 190px;
  width: 25%;
}