@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  /* box-sizing: border-box; */
  /* ↑これがあるとレイアウトが崩れてしまう‥‥ */
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.header {
  background: #e6e6fa;
}
.contents {
  width: 100%;
}
.main-side1 {
  float: left;
  width: 80%;
}
.main {
  background: #fa8072;
  width: 75%;
  float: right;
}
.side1 {
  background: #FEF8DF;
  width: 25%;
  float: left
}
.side2 {
  background: #96CDF6;
  width: 20%;
  float: right;
}
.middle {
  height: 600px;
  word-wrap: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background: #add8e6;
  clear: both;
}
.header, .footer {
  padding: 50px 0;
  height: 90px;
  line-height: 90px;
}