<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header>
      <p>ロゴ画像</p>
    </header>
    <div class="container">
      <div class="left">
          <ul>
            <li><a href="">item1</a></li>
            <li><a href="">item2</a></li>
            <li><a href="">item3</a></li>
            <li><a href="">item4</a></li>
            <li><a href="">item5</a></li>
            <li><a href="">item6</a></li>
            <li><a href="">item7</a></li>
            <li><a href="">item8</a></li>
            <li><a href="">item9</a></li>
            <li><a href="">item10</a></li>
          </ul>
        </div>
      <main>
        <div class="text">
          <ul>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>
        <div class="sub-title">
          <h1>サブタイトル</h1>
          <p>product1</p>
          <p>product2</p>
          <p>product3</p>
          <p>product4</p>
        </div>
        <div class="sub-title">
          <h1>サブタイトル</h1>
          <p>product1</p>
          <p>product2</p>
          <p>product3</p>
          <p>product4</p>
        </div>
      </main>
      <div class="right">バナー画像</div>
    </div>
    <footer>Copyright (C) 2018 テキストテキストテキストテキストテキストテキスト</footer>
  </div>
</body>
</html>