* {
  box-sizing: border-box;
}

body {
  width: 1366px;
  margin: 0 auto;
  font-size: 1.1em;
}

header {
  display: flex;
  margin: 45px 115px 95px;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 140px;
}

header ul li {
  display: inline-block;
  margin-left: 16px;
}

/* main */
.top p {
  margin-left: 115px;
  line-height: 2em;
}

/* main */
.top img {
  width: 100%;
  margin: 75px 0;
}
/* main */
.texts,
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* main */
.texts {
  line-height: 1.5em;
}

/* main */
.texts section {
  margin: 9px 10px;
}

/* main */
.images {
  margin: 65px auto;
}

/* main */
.images section img{
  width: 546px;
  margin: 5px 24px 5px 0;
}

aside ul {
  display: flex;
  justify-content: center;
}

/* 1番下のロゴ画像の大きさが微妙に調整しきれなかったです */
aside ul li img:not(last-child){
  width: 98%;
  margin: 20px -5px 50px -3px;
}

footer {
  text-align: center;
  margin: 30px 0 20px;
  font-size: 0.9rem;
  line-height: 1.3em;
}
